<div class="container">
  <!-- <div class="d-flex justify-content-center align-items-center h-100"> -->
  <div class="card card-style">
    <div class="upper-data position-relative">
      <img
        src="../assets/hot.jpg"
        *ngIf="15 > 16"
        class="card-img-top w-100"
        alt="hot picture"
      />
      <img
        src="../assets/cold.jpg"
        *ngIf="15 <= 16"
        class="card-img-top w-100"
        alt="cold picture"
      />
      <div class="weather-data">
        <div class="location">Bielefeld</div>
        <div class="temperature">{{ 15.5 | number : "1.0-0" }}°C</div>
      </div>
    </div>
    <div class="card-body text-white">
      <h5 class="card-title">More Information</h5>

      <hr />
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img
            src="../assets/thermometer-svgrepo-com.svg"
            alt="min icon"
            class="icon-style"
          />
          <p class="mb-0 ml-2">Minimum temperature</p>
        </div>
        <h5 class="mb-0">19°c</h5>
      </div>
      <hr />
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img
            src="../assets/temperatures-heat-svgrepo-com.svg"
            alt="min icon"
            class="icon-style"
          />
          <p class="mb-0 ml-2">Maximum temperature</p>
        </div>
        <h5 class="mb-0">28°c</h5>
      </div>
      <hr />
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img
            src="../assets/humidity-svgrepo-com.svg"
            alt="min icon"
            class="icon-style"
          />
          <p class="mb-0 ml-2">Humidity</p>
        </div>
        <h5 class="mb-0">85%</h5>
      </div>
      <hr />
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img
            src="../assets/wind-svgrepo-com.svg"
            alt="min icon"
            class="icon-style"
          />
          <p class="mb-0 ml-2">Wind</p>
        </div>
        <h5 class="mb-0">11.83 km/h</h5>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
